.mainSection {
display: flex;
background-color: #e2f2fe;
}
.nav {
    display: flex;
    background-color: #d2ebfe;
   
}
.leftSection {
    flex-basis: 70%;
    max-width: 1320px;
}
.fishList {
    display: flex;
    flex-wrap: wrap;
}

.fish {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  
    background-color: #8cf;
    border: solid;
    border-color: darkgreen;
    
}

.fish_card {
   flex: row;
   padding: 1em;
   margin: 1em;
   border: solid;
   border-radius: 2em;
}

.tips {
    flex-basis: 30%;
    min-width: 300px;
    max-width: 900px;
    border:solid;
    border-color: darkgreen;
    background-color: #00778E;
    margin: 1em;
    padding: 1em;
}

.fishQuotes {
    background-color: #26a2ff;
    border:solid;
    border-color: darkblue;
    padding: 1em;
    margin: 1em;
}
.locations {
    background-color: #005392;
    border: solid;
    padding: 1em;
    margin: 1em;
}

.logo {
    flex: 1;
}
.compName {
    font-size: 25px;
    flex: 3;

}
.fish_image--card {
    max-width: 350px;
   
    border-radius: 1em;
}
.tip_card {
    
    margin: 1em;
}
