.mainSection {
display: flex;
background-color: #e2f2fe;
}
.nav {
    display: flex;
    background-color: #d2ebfe;
   
}
.fishList {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    
}

.tips {
    flex-basis: 30%;
    min-width: 300px;
    border:solid;
    border-color: darkgreen;
    background-color: #00778E;
    margin: 1em;
    padding: 1em;
}
.fishList {
    
    background-color: #8cf;
    border: solid;
    border-color: darkgreen;
}
.fishQuotes {
    background-color: #26a2ff;
    border:solid;
    border-color: darkblue;
    padding: 1em;
}
.fishLocations {
    background-color: #005392;
    border: solid;
    padding: 1em;
}
.fishes {
    max-width: 350px;
    border-radius: 2em;
    border: solid;
    padding: 1em;
    margin: 1em;
    flex: auto;
    
}
.logo {
    flex: 1;
}
.compName {
    font-size: 25px;
    flex: 3;

}
.image {
    max-width: 350px;
    
    border-radius: 1em;
}