.mainSection {
display: flex;

}
.fishList {
    display: flex;
    flex-wrap: inherit;
    justify-content: ;
}

.tips {
    flex-basis: 70%;
}
.fishList {
    
    border: solid;
    border-color: salmon;
}